


body {
  font-family: 'CyberpunkFont', sans-serif;
}

/* CSS class for applying Orbitron font with specific weight */
.orbitron-unique {
  font-family: "Orbitron", serif !important;
}
.orbitron-unique {
  font-family: "Orbitron", Arial, sans-serif !important;
}


  /* Footer */
  .footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  



  /* Red Dot Style */
#red-dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  pointer-events: none; /* Ensure it doesn't interfere with clicks or touches */
  z-index: 9999; /* Always appear on top */
  display: none; /* Initially hidden */
}


/* Triangular Popup */
.triangle-popup {
  position: fixed;
  border: 1.5px solid rgb(0, 0, 0);
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background: white;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
}

/* Popup Content */
.popup-content {
  position: relative;
  transform: rotate(-45deg); /* Rotate text for triangular alignment */
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: black;
}

/* Close Button */
.close-button {
  
  transform: rotate(-45deg)important;
  position: absolute;
  top: 25px;
  right: 10px;
  background: black;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.close-button:hover {
  background: red;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .triangle-popup {
    width: 100px;
    height: 100px;
  }
  .popup-content p {
    font-size: 14px;
  }
}


