


body {
  font-family: 'CyberpunkFont', sans-serif;
}

/* CSS class for applying Orbitron font with specific weight */
.orbitron-unique {
  font-family: "Orbitron", serif !important;
}
.orbitron-unique {
  font-family: "Orbitron", Arial, sans-serif !important;
}


  /* Footer */
  .footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  



  /* Red Dot Style */
  #cursor-dot {
    position: fixed;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle at center, #c59a63 0%, #754E1A 100%);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    transition: 
      left 0.1s linear,
      top 0.1s linear,
      opacity 0.3s ease,
      transform 0.3s ease;
    box-shadow: 0 0 20px rgba(255, 51, 102, 0.5);
    display: none;
  }
  
  #cursor-dot.active {
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0% { transform: translate(-50%, -50%) scale(1); }
    50% { transform: translate(-50%, -50%) scale(0.8); }
    100% { transform: translate(-50%, -50%) scale(1); }
  }
  
  @media (pointer: coarse) {
    #cursor-dot {
      display: none !important;
    }
  }


/* Triangular Popup */
.triangle-popup {
  position: fixed;
  border: 1.5px solid rgb(0, 0, 0);
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background: white;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
}

/* Popup Content */
.popup-content {
  position: relative;
  transform: rotate(-45deg); /* Rotate text for triangular alignment */
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: black;
}

/* Close Button */
.close-button {
  
  transform: rotate(-45deg)important;
  position: absolute;
  top: 25px;
  right: 10px;
  background: black;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.close-button:hover {
  background: red;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .triangle-popup {
    width: 100px;
    height: 100px;
  }
  .popup-content p {
    font-size: 14px;
  }
}


